{% extends "./layout/default" %}
{% block content %}
    <div class="container">
        <div class="row mt-3">
            <div class="col-lg-10 offset-lg-1">
                <h1>{{ mainTitle }}</h1>
            </div>
        </div>
        <div id="app">
            <submission-status></submission-status>
        </div>

        <div class="row mt-3">
            <div class="col-lg-10 offset-lg-1">
                <div class="card">
                    <div class="card-body">
                        <div class="btn-group btn-group-sm">
                            <a href="{{ jobBackUrl }}" class="btn btn-secondary"><span class="fas fa-arrow-left"></span>
                                Go back to the previous step</a>
                            <a class="btn btn-danger btn-sm" href="{{ route('flush') }}" data-bs-toggle="tooltip"
                               data-bs-placement="top" title="If the importer seems stuck, you can reset it."><span
                                    class="fas fa-redo-alt"></span> Start over</a>
                            <a class="btn btn-info text-white btn-sm" href="{{ route('004-configure.download') }}"
                               data-bs-toggle="tooltip" data-bs-placement="top"
                               title="You can download a configuration file of your import, so you can make a quick start the next time you import.">
                                <span class="fas fa-download"></span> Download configuration file
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
{% endblock %}
        {% block scripts %}
            <script type="text/javascript">
                var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
                var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                    return new bootstrap.Tooltip(tooltipTriggerEl)
                })

                var jobStatusUrl = '{{ route('008-submit.status') }}';
                var jobStartUrl = '{{ route('008-submit.start') }}';
                var jobBackUrl = '{{ jobBackUrl }}';
                var configDownloadUrl = '{{ route('004-configure.download') }}';
                var flushUrl = '{{ route('flush') }}';

                var combinations = {{ combinations|json_encode|raw }};
                var combiCount = {{ combinations|length }};
            </script>
            <script src="{{ asset('js/submit.js') }}?version={{ version }}"></script>
        {% endblock %}
