<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="color-scheme" content="light dark">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ asset('css/bootstrap-dark.min.css') }}?version={{ version }}">
    <link href="{{ asset('fa/css/all.min.css') }}" rel="stylesheet">

    <meta name="theme-color" content="#111111" media="(prefers-color-scheme: light)">
    <meta name="theme-color" content="#eeeeee" media="(prefers-color-scheme: dark)">

    <title>500 error :(</title>
</head>
<body>
{% if config('importer.is_external') %}
    <div class="alert alert-warning" role="alert">
        This Firefly III Data Importer installation is <strong>publicly accessible</strong>. Please read <a
            href="https://docs.firefly-iii.org/data-importer/installation/public/" class="alert-link" target="_blank">the
            considerations</a> (link opens in a new window or tab).
    </div>
{% endif %}
<div class="container">
    <div class="row mt-3">
        <div class="col-lg-10 offset-lg-1">
            <h1>Whoops! 500 :(</h1>
            <p>
                Sorry, the Firefly III Data Importer broke down.
            </p>
            <h2>Error message</h2>
            <p class="text-danger">
                {{ exception.getMessage }}
            </p>
            <h2>More information</h2>
            <p>
                The error occurred in <code>{{ exception.getFile }}:{{ exception.getLine }}</code>.
            </p>
            <p>
                Please collect more information in the <code>storage/logs</code> directory, where you will find log files.
                If you're running Docker, use <code>docker logs -f [container]</code>.
                You can read more about collecting error information <a href="https://docs.firefly-iii.org/firefly-iii/faq/other/#how-do-i-enable-debug-mode"
                                                                        target="_blank">in the FAQ</a>.
            </p>
            <h2>Get help on GitHub</h2>
            <p>
                You're more than welcome to open a new issue <strong><a href="https://github.com/firefly-iii/firefly-iii/issues">on GitHub</a></strong>.
            </p>
            <ol>
                <li>Use the search!</li>
                <li>Include the information <a href="{{ route('debug') }}">from this debug page</a>.</li>
                <li>Tell us more than &quot;it says Whoops!&quot;</li>
                <li>Include error logs (see above).</li>
                <li>Tell us what you were doing.</li>
            </ol>

        </div>
    </div>
</body>
</html>
