{# Nordigen uses identifier #}
<input
    id="do_import_{{ information.import_account.identifier }}"
    type="checkbox"
    {% if 'disabled' == information.import_account.status %}
        disabled="disabled"
    {% endif %}
    name="do_import[{{ information.import_account.identifier }}]"
    value="1"
    aria-describedby="accountsHelp"
    {% if(information.firefly|length==0) %}disabled="disabled"{% endif %}
/>
<label class="form-check-label"
       {% if '' != information.import_account.iban %}title="IBAN: {{ information.import_account.iban }}"{% endif %}
       for="do_import_{{ information.import_account.identifier }}">
    Account "{{ information.import_account.getFullName }}"
</label>
{% if 'disabled' != information.import_account.status and '' != information.import_account.iban %}
    <br><small>
    IBAN: {{ information.import_account.iban }}</small>{% endif %}
{% if 'disabled' == information.import_account.status %}<br>
    <small class="text-danger">(this account is
        disabled)</small>{% endif %}
