{% if 'disabled' != information.import_account.status %}
    <select style="width:100%;"
            class="custom-select custom-select-sm form-control"
            name="accounts[{{ information.import_account.identifier }}]">
        {% for ff3Account in information.firefly_iii_accounts %}
            {# {% if configuration.getAccounts[spectreAccount.id] == ff3Account.id  %}selected{% endif %} #}
            <option value="{{ ff3Account.id }}"
                    label="{{ ff3Account.name }}{% if ff3Account.iban %} ({{ ff3Account.iban }}){% endif %}">
                {{ ff3Account.name }}{% if ff3Account.iban %} ({{ ff3Account.iban }}){% endif %}
            </option>
        {% endfor %}
    </select>
{% endif %}
