{% extends "./layout/default" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h1>{{ mainTitle }}</h1>
                <h2>{{ subTitle }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p class="lead">Set up the the meaning of each column in your file.</p>
                <p>
                    Each column in your CSV file has a role, it contains a specific type of content.
                    By configuring these roles here, you tell the importer how to approach and treat
                    the data in each column. <a target="_blank" href="https://docs.firefly-iii.org/csv/usage/roles/">Read the documentation</a> to learn more
                    about this process.
                </p>
                {% if not errors.isEmpty %}
                    <p class="text-danger">Some error(s) occurred:</p>
                    <ul>
                        {% for error in errors.all %}
                            <li class="text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <hr/>
                <div class="row">
                    <div class="col-lg-12">
                        <form method="post" action="{{ route('import.roles.post') }}" accept-charset="UTF-8">
                            <input type="hidden" name="_token" value="{{ csrf_token() }}"/>
                            <input type="hidden" name="mapping" value="{{ mapping }}"/>
                            <table class="table">
                                <tr>
                                    <th>Column</th>
                                    <th>Example data</th>
                                    <th>Role</th>
                                    <th>Map data?</th>
                                </tr>
                                {% for index, column in columns %}
                                    <tr>
                                        <td>{{ column }}
                                            {% if index == configuration.getUniqueColumnIndex and 'cell' == configuration.getDuplicateDetectionMethod %}
                                                <br />
                                                <span class="text-muted small">This is the unique column</span>
                                            {% endif %}</td>
                                        <td>
                                            {% if examples[index]|length > 0 %}
                                                {% for example in examples[index] %}
                                            <pre style="color:#e83e8c;margin-bottom:0;">{{ example }}</pre>
                                                {% endfor %}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if index == configuration.getUniqueColumnIndex and 'cell' == configuration.getDuplicateDetectionMethod %}
                                                {#
                                                User cannot select a role because its the unique column so it MUST be this role.
                                                #}
                                                <p class="form-text">
                                                    <span class="text-muted small">
                                                        This column is your unique identifier, so it will be fixed to
                                                    </span>
                                                    <code class="small">{{ configuration.getUniqueColumnType  }}</code>
                                                </p>
                                                {#  smart users can overrule this of course. #}
                                                <input type="hidden" name="roles[{{ index }}]" value="{{ configuration.getUniqueColumnType }}" />
                                            {% else %}
                                            <select name="roles[{{ index }}]" id="roles_{{ index }}" class="form-control">
                                                {% for key, role in roles %}
                                                    <option value="{{ key }}" {% if configuredRoles[index] == key %}selected{% endif %}
                                                            label="{{ trans('import.column_'~key) }}">{{ trans('import.column_'~key) }}</option>
                                                {% endfor %}
                                            </select>
                                            {% endif %}
                                        </td>
                                        <td>
                                            <label for="do_mapping_{{ index }}">
                                                {#  reverse if statement is pretty sloppy but OK. #}
                                                {% if index == configuration.getUniqueColumnIndex and 'cell' == configuration.getDuplicateDetectionMethod %}
                                                    &nbsp;
                                                {% else %}
                                                    <input type="checkbox" {% if configuredDoMapping[index] %}checked{% endif %} name="do_mapping[{{ index }}]" id="do_mapping_{{ index }}" value="1"/>
                                                {% endif %}
                                            </label>
                                        </td>
                                    </tr>
                                {% endfor %}

                            </table>
                            <p>
                                &nbsp;

                            </p>
                            <div class="row">
                                <div class="col-lg-6">
                                    <!-- go back to config -->
                                    <a href="{{ route('back.config') }}" class="btn btn-secondary">&larr; Go back to configuration</a>
                                    <br>
                                    <small class="text-muted">Changes on this page will not be saved.</small>
                                    <br /><br />
                                    <a href="{{ route('flush') }}" class="btn btn-danger btn-sm">Start over</a>
                                </div>
                                <div class="col-lg-6">
                                    <button type="submit" class="float-right btn btn-primary">Submit &rarr;</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

