<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <base href="{{ route('index') }}/">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <meta name="color-scheme" content="light dark">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ asset('css/bootstrap-dark.min.css') }}?version={{ version }}">
    <link href="{{ asset('fa/css/all.min.css') }}" rel="stylesheet">

    <!-- Optional Meta Theme Color is also supported on Safari and Chrome -->
    <meta name="theme-color" content="#111111" media="(prefers-color-scheme: light)">
    <meta name="theme-color" content="#eeeeee" media="(prefers-color-scheme: dark)">

    <title>Firefly III Data Importer // {{ pageTitle|default('No title') }}</title>
</head>
<body>
{% if config('importer.is_external') %}
<div class="alert alert-warning" role="alert">
    This Firefly III Data Importer installation is <strong>publicly accessible</strong>. Please read <a href="https://docs.firefly-iii.org/data-importer/install/public/" class="alert-link" target="_blank">the considerations</a> (link opens in a new window or tab).
</div>
{% endif %}

{% block content %}{% endblock %}

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{{ asset('js/jquery-3.6.0.min.js') }}?version={{ version }}"></script>
<script src="{{ asset('js/popper.min.js') }}?version={{ version }}"></script>
<script src="{{ asset('js/bootstrap.min.js') }}?version={{ version }}"></script>
{% block scripts %}{% endblock %}
</body>
</html>
