{% extends "./layout/default" %}
{% block content %}
    <div class="container">
        <div class="row mt-3">
            <div class="col-lg-10 offset-lg-1">
                <h1>{{ mainTitle }}</h1>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-10 offset-lg-1">
                <div class="card">
                    <div class="card-header">
                        {{ subTitle }}
                    </div>
                    <div class="card-body">
                        <p>In order to import using {{ flow|capitalize }}, you must enter the authentication data you
                            received from this provider.
                            You can read how to get the necessary codes in the
                            <a target="_blank" href="https://docs.firefly-iii.org/data-importer/install/configure/">documentation</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-10 offset-lg-1">
                <div class="card">
                    <div class="card-header">
                        Form
                    </div>
                    <div class="card-body">
                        <form method="post" action="{{ route('002-authenticate.post') }}" accept-charset="UTF-8">
                            <input type="hidden" name="_token" value="{{ csrf_token() }}"/>

                            {% if 'nordigen' == flow %}
                                <!-- nordigen ID -->
                                <div class="form-group row">
                                    <label for="date" class="col-sm-3 col-form-label">Nordigen ID</label>
                                    <div class="col-sm-9">
                                        <input type="text" name="nordigen_id" class="form-control" id="nordigen_id"
                                               placeholder="Nordigen ID" value="" aria-describedby="nordigenIdHelp">
                                        <small id="nordigenIdHelp" class="form-text text-muted">
                                            Your Nordigen ID
                                        </small>
                                    </div>
                                </div>
                                <!-- nordigen key -->
                                <div class="form-group row">
                                    <label for="date" class="col-sm-3 col-form-label">Nordigen key</label>
                                    <div class="col-sm-9">
                                        <input type="text" name="nordigen_key" class="form-control" id="nordigen_key"
                                               placeholder="Nordigen key" value="" aria-describedby="nordigenKeyHelp">
                                        <small id="nordigenKeyHelp" class="form-text text-muted">
                                            Your Nordigen secret key
                                        </small>
                                    </div>
                                </div>
                            {% endif %}

                            {% if 'spectre' == flow %}
                                <!-- spectre app id -->
                                <div class="form-group row">
                                    <label for="date" class="col-sm-3 col-form-label">Spectre App ID</label>
                                    <div class="col-sm-9">
                                        <input type="text" name="spectre_app_id" class="form-control"
                                               id="spectre_app_id" placeholder="Spectre App ID" value=""
                                               aria-describedby="spectreAppIdHelp">
                                        <small id="spectreAppIdHelp" class="form-text text-muted">
                                            The app ID
                                        </small>
                                    </div>
                                </div>
                                <!-- spectre secret -->
                                <div class="form-group row">
                                    <label for="date" class="col-sm-3 col-form-label">Spectre secret</label>
                                    <div class="col-sm-9">
                                        <input type="text" name="spectre_secret" class="form-control"
                                               id="spectre_secret" placeholder="Spectre Secret" value=""
                                               aria-describedby="spectreSecret">
                                        <small id="spectreSecret" class="form-text text-muted">
                                            The secret
                                        </small>
                                    </div>
                                </div>
                            {% endif %}
                            <button type="submit" class="float-end btn btn-primary">Authenticate &rarr;</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-10 offset-lg-1">
                <div class="card">
                    <div class="card-body">
                        <div class="btn-group btn-group-sm">
                            <a href="{{ route('back.start') }}" class="btn btn-secondary"><span
                                    class="fas fa-arrow-left"></span> Go back to index</a>
                            <a href="{{ route('flush') }}" class="btn btn-danger btn-sm"><span
                                    class="fas fa-redo-alt"></span> Start over</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
