{% extends "./layout/default" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h1>{{ mainTitle }}</h1>
                <h2>{{ subTitle }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p class="lead">Upload your CSV file and its configuration to import data into your Firefly III installation.</p>
                <p>
                    Use the form elements below to upload your data. If you need support,
                    <a target="_blank" href="https://docs.firefly-iii.org/csv/usage/upload/">check out the documentation</a>.
                </p>
                <hr />
                <div class="row">
                    <div class="col-lg-12">
                        <form method="post" action="{{ route('import.upload') }}" accept-charset="UTF-8" id="store" enctype="multipart/form-data">
                            <input type="hidden" name="_token" value="{{ csrf_token() }}"/>
                            <div class="form-group row">
                                <label for="csv_file" class="col-sm-4 col-form-label">CSV file</label>
                                <div class="col-sm-8">
                                    <input type="file" class="form-control{% if errors.has('csv_file') %} is-invalid{% endif %}" id="csv_file" name="csv_file"
                                           placeholder="CSV file"/>
                                    {% if errors.has('csv_file') %}
                                    <div class="invalid-feedback">
                                        {{ errors.first('csv_file') }}
                                    </div>
                                {% endif %}
                                </div>
                            </div>


                            <div class="form-group row">
                                <label for="config_file" class="col-sm-4 col-form-label">Optional configuration file</label>
                                <div class="col-sm-8">
                                    <input type="file" class="form-control" id="config_file" name="config_file" placeholder="Configuration file"/>
                                </div>
                            </div>
                            {% if list|length > 0 %}
                                <div class="form-group row">
                                    <label for="config_file" class="col-sm-4 col-form-label">Pre-made configuration file</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" name="existing_config">
                                            <option value="" label="Upload or manual config">Upload or manual config</option>
                                            {% for file in list %}
                                                <option value="{{ file }}" label="{{ file }}">{{ file }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="row">
                                <div class="col-lg-6">
                                    <!-- go back to start -->
                                    <a href="{{ route('back.start') }}" class="btn btn-secondary">&larr; Go back to index</a>
                                    <br /><br />
                                    <a href="{{ route('flush') }}" class="btn btn-danger btn-sm">Start over</a>
                                </div>
                                <div class="col-lg-6">
                                    <!-- continue -->
                                    <button type="submit" class="float-right btn btn-primary">Upload &rarr;</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
